* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: "Goudy Bookletter 1911", sans-serif;
    font-size: 20px;
    background-color: #4F4846;
    color: #4F4846;
  }

header {
    position: fixed;
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: blanchedalmond;
    border-bottom: 5px solid black;
}

nav ul li{
    display: inline;
    text-align: left;
    margin: 5px;
}
.center-image {
    position: relative;
    text-align: center;
    height: 100vh;
}

figure {
    margin-bottom: 40px;
}
    
img {
    display: block;
    margin: 20px auto;
    width: 300px;
    height: 300px;
}

.center-text {
    text-align: center;
}